---
import Project from "./ui/Project.astro";
import { PROJECTS } from "../shared/helpers";
---

<section id="projects">
  <header>
    <h2>Proyectos</h2>
  </header>
  <article>
    {PROJECTS.map((project)=>(
      <Project
      title={project.title}
      description={project.description}
      projectTechs={project.projectTechs}
      image={project.image} 
      links={project.links}
    />
    ))}
  </article>
</section>

<style>
  #projects {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    > article {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }
  h2 {
    text-transform:;
    padding: 1rem;
    overflow: hidden;
    width: 100%;
    background-color: rgb(2 6 23);
    border-radius: 0.95rem;
    border: 3px solid #9999ff;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    &::after {
      content: "";
      width: 3rem;
      height: 10rem;
      position: absolute;
      transform: rotate(35deg);
      background: linear-gradient(
        90deg,
        transparent 0%,
        rgb(194, 194, 194) 60%,
        rgb(255, 255, 255) 65%,
        transparent 100%
      );
      top: -25px;
      left: -6rem;
      opacity: 0.4;
      animation: 3s glare linear infinite;
    }
  }

  
  @media (width>768px) {
    #projects article {
      display: grid;
      gap: 1.5rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
</style>

<style is:global>
  #projects {
    .tech-icon {
      width: 1.75rem;
      height: 1.75rem;
    }
    .link-icon {
      width: 3rem;
      height: 3rem;
    }
  }
</style>
